# Unity gitignore
# https://github.com/github/gitignore/blob/main/Unity.gitignore

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/
/[Rr]ecordings/

/[Aa]ssets/AssetStoreTools*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-buildid.txt
crashlytics-buildid.txt.meta

# FMOD
/Assets/Plugins/FMOD/
fmod_editor.log

# IDE
.idea/
.vs/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local Synth Folder
/LocalSynth/
/LocalSynth.meta

# Root non-asset meta files
/LICENSE.meta
/README.md.meta
/package.json.meta
/.gitignore.meta

# documentation
/Documentation~/
/Documentation~.meta
Demo/data_collection_plan.md
Demo/script_skeleton.md
Demo/script.txt
Demo/analysis_results.md
Demo/data_collection_plan.md.meta
Demo/FDLogo.png
Demo/FDLogo.png.meta
Demo/FDLogo.svg
Demo/FDLogo.svg.meta
Demo/main.tex
Demo/main.tex.meta
Demo/media.meta
Demo/papers.txt
Demo/papers.txt.meta
Demo/script_skeleton.md.meta
Demo/script.txt.meta
Demo/Trinity-PPT-Templateâ__Version-2.pptx
Demo/Trinity-PPT-Templateâ__Version-2.pptx.meta
Demo/Logs/footstep_perf_2026-07-19_20-51-06_Test1.log
Demo/Logs/footstep_perf_2026-07-19_20-52-32_Test2.log
Demo/Logs/footstep_perf_2026-07-19_20-55-15_Test3.log
Demo/Logs/footstep_perf_2026-07-20_16-01-41_Test4.log
Demo/Logs/footstep_perf_2026-07-20_16-05-19_Test5.log
Demo/Logs/footstep_perf_2026-07-20_16-06-43_Test6.log
Demo/Logs/footstep_perf_2026-07-20_16-09-13_Test7.log
Demo/Logs/footstep_perf_2026-07-20_16-15-54_Test8.log
Demo/Logs/footstep_perf_2026-07-20_16-17-15_Test9.log
Demo/Logs/footstep_perf_2026-07-20_16-18-50_Test10.log
Demo/Logs/footstep_perf_2026-07-20_16-34-15_Test11.log
Demo/Logs/footstep_perf_2026-07-20_16-36-07_Test12.log
Demo/Logs/footstep_perf_2026-07-20_16-37-41_Test13.log
Demo/Logs/footstep_perf_2026-07-20_16-39-21_Test14.log
Demo/Logs/footstep_perf_2026-07-20_16-41-18_Test15.log
Demo/Logs/footstep_perf_2026-07-20_16-43-16_Test16.log
Demo/Logs/footstep_perf_2026-07-20_16-44-57_Test17.log
Demo/Logs/footstep_perf_2026-07-20_16-46-40_Test18.log
Demo/media/image1.png
Demo/media/image1.png.meta
Demo/media/image2.png
Demo/media/image2.png.meta
Demo/media/image3.svg
Demo/media/image3.svg.meta
